
.b-products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;

		&__item {
			min-width: 32rem;
			width: 100%;
			height: 53rem;
			overflow: hidden;
			border-radius: 4rem;
			@media (min-width:608px){
					width: calc((100% - 32px)/2);
			}
			@media (min-width:896px){
					width: calc((100% - 64px)/3);
			}
		}
}



